.row1{
	margin:0 auto;
	max-width: 930px;
	width: 100%;
	background-color:#1287DE;
color:black;
}

.row1A{
	width: 49%;
	text-align: right;
	
}

body {
	font-family: sans-serif;
	background: black;
	color: white;
}
button.botonguardar {
	margin-left: 45%;
	transform: translateX(-50%);
}

.botonpestaña {
	display: inline-block;
}
.botonpestaña  {
	vertical-align: top;
	text-align: right;
	width: 90%;
}

.divjunto  {
	vertical-align: top;
	text-align: right;
	width: 40%;
}

.imagen {
	vertical-align: top;
	text-align: right;
	width: 15%;
}

.textocomentarios{

	color:yellow;
}

.inputn {
vertical-align: top;
	text-align: left;
	width: 60%;
}