.row1{
	margin:0 auto;
	max-width: 930px;
	width: 100%;
	background-color:#22C7F3;
color:black;
}

.creardiv{
	margin:0 auto;
	max-width: 930px;
	width: 100%;
	background-color:#22C7F3;
color:blue;
}
.creardiv2{
	margin:0 auto;
	max-width: 930px;
	width: 100%;
	background-color:#22C7F3;
color:blue;
}
.creardiv3{
	margin:0 auto;
	max-width: 930px;
	width: 100%;
	background-color:#22C7F3;
color:blue;
}
.creardiv4{
	margin:0 auto;
	max-width: 930px;
	width: 100%;
	background-color:#22C7F3;
color:blue;
}
.creardiv5{
	margin:0 auto;
	max-width: 930px;
	width: 100%;
	background-color:#22C7F3;
color:black;
}